html{width:100%;height:100%;margin:0px;padding:0px;}
body{width:100%;height:100vh;margin:0px;padding:0px;}
h1{margin:0;padding:0}

#out{
    z-index:1000;
    position: fixed;
    width:100%;
    height:100%;
    background-color: white;
    transition-duration: 1.5s;
    margin:0;
    padding:0;

}
#loading{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width:26vmin;
  height: 26vmin;
  @--webkit-animation: round 0.3s linear 0s 1 normal;
}
.block{
  position: absolute;
  float: left;
  margin: 2vmin;
  width:10vmin;
  height:10vmin;

  animation-duration: 2000ms;
  animation-timing-function:cubic-bezier(0.75, 0.1, 0.25, 1.0);
  animation-iteration-count: infinite;
}
#block1{
  animation-name: round;
  background-color: #BBD738;
  animation-delay:0ms;
  z-index:1004;

}
#block2{
  animation-name: round;
  background-color: #EAA4C6;
  animation-delay: 500ms;
  z-index:1003;
}
#block3{
  animation-name: round;
  background-color: #2DB8B6;
  animation-delay: 1000ms;
  z-index:1002;
}
#block4{
  animation-name: round;
  background-color: #F5BD00;
  animation-delay:1500ms;
  z-index:1001;
}

@keyframes round{
  0%{
    transform:translateX(0vmin) translateY(0vmin);
  }
  25%{
    transform: translateX(0vmin) translateY(12vmin) ;
  }
  50%{
    transform:translateX(12vmin) translateY(12vmin) ;
  }
  75%{
    transform:translateX(12vmin) translateY(0vmin) ;
  }
  /*
  12.5%{
    transform: translateX(0vmin) translateY(6vmin) scale(1);
  }
  37.5%{
    transform:translateX(6vmin) translateY(12vmin) scale(1);
  }
  62.5%{
    transform:translateX(12vmin) translateY(6vmin) scale(1);
  }
  87.5%{
    transform:translateX(6vmin) translateY(0vmin) scale(1);
  }
  */
}
